main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 48.9vw;
    padding: 50px;
    background-color: var(--main-clr1);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1f1f1f;
    height: 70vh;
    width: 80vh;
    border-radius: 20px;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 3rem;
    padding: 20px;
    font-weight: 900;
    text-shadow: black 5px 5px 10px;
}
.boton a{
    font-size: 1.3rem;
    font-weight: 400;
}