main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.caja-principal {
    background-color: var(--main-clr6);
    width: 95%;
    border-radius: 60px;
    padding: 1rem;
}

h1 {
    text-align: center;
    color: white;
    height: 10vh;
    padding: 3vw;
}

.contenedorbtns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 65vh;
    justify-content: center;
    place-items: center;
    gap: 1.5rem;
    padding: 1rem;
    text-align: center;
    color: white;
}

.caja {
    width: 100%;
    height: 95%;
}

.caja1 {
    display: grid;
    justify-content: center;
    background-color: var(--main-clr7);
    border-radius: 20px;
    color: black;
    margin-top: 10px;
    font-size: 1.1rem;
}

.caja1 h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.caja2 {
    display: grid;
    grid-template-rows: 0.4fr 1fr;
    background-color: var(--main-clr7);
    height: 95%;
    padding: 30px;
    color: black;
    border-radius: 20px;
}

.mapa-h2 {
    height: 20%;
    font-size: 1.4rem;
}

.boton {
    margin-top: 1.5rem;
}

/* ==========================
   Mapa
========================== */
.caja-mapa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa {
    height: 100%;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;

}

.mapa:hover {
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.5);
}

.mapa iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
}

@media (max-width: 480px) {
    main{
        height: 100%;
    }

    .caja-principal {
        width: 100%;
        background-color: transparent;
    }

    .contenedorbtns {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .caja{
        height: 100%;
        padding: 1.5rem;
    }

    .mapa {
        height: 30vh;
        width: 100%;
    }

    h1 {
        height: 80%;
    }
}

@media (width: 1280px) {
    .contenedorbtns *{
        font-size: 1.5rem;
    }
    .caja1 h2{ 
        font-size: 2.5rem;
    }
}