main {
    display: flex;
    justify-content: center;
    min-height: 80vh;
    padding: 40px;
}

.caja-principal {
    background-color: var(--main-clr6);
    width: 80%;
    height: 90%;
    border-radius: 60px;
}

h1 {
    text-align: center;
    color: white;
    height: 10vh;
    padding: 3vw;
}

.contenedorbtns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    min-height: 65vh;
    width: 100%;
    justify-content: center;
    place-items: center;
    gap: 1.5rem;
    padding: 50px;
    text-align: center;
    color: white;
}

.caja1 {
    display: grid;
    justify-content: center;
    background-color: var(--main-clr7);
    padding: 30px;
    width: 100%;
    height: 95%;
    border-radius: 20px;
    color: black;
    margin-top: 10px;
}

.caja2 {
    display: grid;
    justify-content: center;
    background-color: var(--main-clr7);
    width: 100%;
    height: 95%;
    padding: 30px;
    color: black;
    border-radius: 20px;
}

.mapa-h2 {
    font-size: 1.4rem;
}

.boton {
    margin-top: 10px;
}

/* ==========================
   Mapa
========================== */
.caja-mapa {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa {
    height: 100%;
    border-radius: 50px;
}

.mapa iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
}

/* ==========================
   Efecto hover en mapa
========================== */
.mapa:hover {
    width: 24vw;
    height: 17vw;
}

@media (max-width: 480px) {

    .caja-principal {
        width: 100%;
        background-color: transparent;
    }

    .contenedorbtns {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        width: 100%;
        padding: 0;
    }

    .mapa {
        height: 30vh;
        width: 100%;
    }

    .mapa:hover {
        height: 100%;
    }
    h1{
        height: 80%;
    }
}