* {
    margin: 0;
    padding: 0;
    --main-clr1: #000000;
    --main-clr2: #222222;
    --main-clr3: #1DCD9F;
    --main-clr4: #169976;
    --main-clr5: #2E7D32;
}

body {
    font-family: 'Urbanist', sans-serif;
}

header {
    display: grid;
    place-items: center;
    min-height: 10vw;
    background-color: var(--main-clr1);
}

main {
    background-color: var(--main-clr5);
}


.nav-links {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

.nav-contenedor {
    display: grid;
    align-items: center;
    background-color: var(--main-clr2);
    border-radius: 10px;
    height: 13vh;
    width: 90vw;
}

#nav {
    display: grid;
    place-items: center;
    margin: 0 50px;
    padding: 10px;
}

#stlinks {
    padding: 15px;
    border-radius: 10px;
    width: 50vw;
}

.logo {
    border-radius: 10px;
}

#nav a {
    text-align: center;
    font-size: 1.2rem;
}

#stlinks:hover>a {
    opacity: 0.3;
}

#stlinks>a:hover {
    opacity: 1 !important;
    transform: scale(1.1);
}

.btn-login {
    width: 10vw;
    background-color: #adb5bd;
    border-color: rgba(255, 255, 255, 0.2);
    color: #212529;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: 600;
}

.btn-login:hover {
    background-color: #ced4da;
    border-color: rgba(255, 255, 255, 0.2);
    color: #212529;
}

#iniciar a {
    margin: 5px;
    font-size: 0.9rem;
}

.pie-pag{
    padding-left: 5vw;
    padding-top: 5vw;
    text-align: center;
}
.link-redes a{
    font-size: 2rem;
    color: white;
    margin: 1vw;
}
@media (max-width: 480px) {
    .pie-pag{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 25px;
        padding: 20px;
    }
}