/* ==========================
   Header y fondo principal
========================== */
header {
    display: grid;
    grid-template-rows: 0fr 0.8fr;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Assets/img/bgheader.jpg);
    min-height: 65vh;
    background-position: center;
    background-size: cover;
}

/* ==========================
   Navegación: enlaces y contenedores
========================== */

.nav-contenedor {
    grid-template-columns: 1fr;
    background-color: transparent;
    height: 13vh;
    width: 90vw;
}

.text-center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/* ==========================
   Botones de login
========================== */

.btn-login {
    background-color: #7fffd4;
    border: none;
    border-radius: 10px;
    padding: 8px 20px;
    text-align: center;
    width: 300px;
    max-width: 250px;
}

.btn-login:hover {
    background-color: #5fb598;
}

/* ==========================
   Main y fondo principal
========================== */
main {
    background-color: #2E7D32;
    min-height: 100vh;
}

/* ==========================
   Sección F5 (canchas)
========================== */
.f5 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    justify-content: center;
    place-items: center;
    padding: 0 10vw;
    text-align: center;
}

/* ==========================
   Sección food (comida)
========================== */
.food {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: #e6c200;
    gap: 50px;
    padding: 5vw 5vw;
    place-items: center;
}

/* ==========================
   Cards (tarjetas)
========================== */
.card {
    background-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.f5 .card-body {
    max-height: 80px;
    font-size: 0.9rem;
}

.card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

/* ==========================
   Subtítulo sección
========================== */
#subti {
    padding: 50px;
}

#subti h2 {
    text-align: center;
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* ==========================
   Botón central
========================== */
.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

/* ==========================
   Menú food
========================== */
#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#menu h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
}

/* ==========================
   Textos secundarios en food
========================== */
.ps2 {
    font-size: 0.8rem;
    text-align: center;
}

.h2s2 {
    text-align: center;
    font-weight: 600;
}

/* ==========================
  Header (responsive)
========================== */
@media (max-width: 480px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        padding: 1rem;
    }
    .header-nav{
        width: 100%;
    }

    .btn-login {
        max-width: 150px;
    }

    .nav-contenedor {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        padding: 0;
    }

    h1 {
        border-bottom: 2px solid var(--main-clr4);
    }
}