main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caja-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--main-clr6);
    width: 35%;
    height: 45vh;
    border-radius: 30px;
}

.caja {
    display: flex;
    justify-content: center;
    width: 95%;
    text-align: start;
}

.label-texto label {
    justify-content: start;
    width: 50%;
}

.btn-radio {
    padding-top: 15px;
    width: 0%;
}

.boton {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}
@media (max-width: 480px) {
    main{
        width: 100%;
    }
    .caja-principal{
        width: 90%;
        padding: 15px;
    }
}