body {
    background-color: var(--main-clr5);
}

form {
    background-color: var(--main-clr6);
    width: 65%;
}

#registrar {
    background-color: var(--main-clr7);
    padding: 7px;
    border-radius: 20px;
    width: 95%;
    margin-top: 10px;
}

#registrar:hover {
    background-color: #91C89E;
}