/* ==========================
   Body
========================== */

body {
    background-color: var(--main-clr5);
}

/* ==========================
   Estilos de la cuadrilla
========================== */

.col {
    border: 1px solid #c0b8b8;
}

.grid-item-hora {
    border: 1px solid #c0b8b8;
    padding: 15px;
    background-color: #000;
    color: #fff;
}

.grid-item {
    padding: 15px;
    border-bottom: 1px solid #000;
    background-color: #fff;
    color: #fff;
}

.col-vacia {
    background-color: #6b9488;
}

.col-vacia:hover {
    background-color: #78ff70;
    cursor: pointer;
}

/* ==========================
   Dropdown
========================== */

.btn-reserva {
    background-color: #0f0;
    padding: 7px;
    border-radius: 20px;
    width: 88%;
}

.btn-reserva:hover {
    background-color: rgb(15, 223, 105);
}

.dropdown-menu {
    width: 365px;
}

.dpdn-span {
    margin: 10px 100px;
    margin: 0;
}

.info-dd-1 {
    width: 95%;
}

.contenedor-info-dd-2 {
    width: 95%;
}

/* ==========================
   Informacion de las reservas
========================== */

#reservado {
    background-color: #e94c0e;
    width: 10px;
    height: 10px;
    margin-right: 3px;
}

#disponible {
    background-color: #6b9488;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 15px;
}

#reserva-responsive-section {
    display: none;
}

/* ==========================
   Seccion de Comentarios
========================== */

.seccion-comentarios-contenedor {
    width: 100%;
    background-color: var(--main-clr7);
    padding: 10px;
    margin-top: 30px;
}

.post-comentario {
    width: 90%;
    padding: 10px;
    background-color: #fff;
    margin: 10px auto;
}

.imagen-usuario-comentario {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-right: 10px;
}

.dia {
    font-size: 12px;
}

.comentario {
    padding: 0 12px 7px 58px;
}

#foto-redactor {
    width: 27px;
    height: 27px;
    margin-right: 10px;
    border-radius: 50%;
}

textarea {
    background: #eee;
    width: 100%;
    height: 152px;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 4px;
    resize: none;
}

textarea:focus {
    outline-color: #009cff;
}

#enviar-comentario {
    padding: 6px 14px;
    border: none;
    background-color: var(--main-clr5);
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
}

#enviar-comentario:hover {
    background-color: var(--main-clr6);
}

/* ==========================
   Responsive
========================== */

@media (max-width: 480px) {
    main {
        height: 100%;
        background-color: #fff;
    }


    .reserva-contenedor,
    #ttl-reserva,
    .seccion-comentarios-contenedor {
        display: none;
    }

    #reserva-responsive-section {
        display: initial;
        width: 100%;
        height: 100%;
    }

    button {
        background-color: #fcf9f9;
        border: none;
        display: flex;
        flex-direction: column;
        padding: 10px 14px;
        border-radius: 10px;
        border: 1px solid;
        color: #c0b8b8;
        font-size: 18px;
    }

    button:active>span {
        color: var(--main-clr5);
    }

    .col {
        padding: 10px;
        border-radius: 19px;
        margin: 0 5px;
    }

    .col:hover {
        border: 1px solid var(--main-clr5);
        color: var(--main-clr5);
        background-color: var(--main-clr7);
    }

    #reserva-responsive-section {
        border-bottom: 1px solid #c0b8b8;
        padding: 10px 0;
    }

    #cancha1-responsive {
        background-color: var(--main-clr6);
        display: inline-block;
        padding: 1rem 1rem;
        border-radius: 10px;
    }

    #cancha1-responsive a {
        text-decoration: none;
        color: var(--main-clr2);
        font-size: 1rem;
        letter-spacing: 1px;
    }

    #cancha2-reserva-responsive {
        border-top: 1px solid #c0b8b8;
        border-bottom: 1px solid #c0b8b8;
    }

    #cancha1-reserva-responsive {
        border-top: 1px solid #c0b8b8;
        border-bottom: 1px solid #c0b8b8;
    }

    .canchas-responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}