/* ==========================
   Body
========================== */

body {
    background-color: var(--main-clr5);
}
/* ==========================
   Main container
========================== */
main {
    height: 90vh;
}

/* ==========================
   Estilos de la cuadrilla
========================== */

.col {
    border: 1px solid #c0b8b8;
}

.grid-item-hora {
    border: 1px solid #c0b8b8;
    padding: 15px;
    background-color: #000;
    color: #fff;
}

.grid-item {
    padding: 15px;
    border-bottom: 1px solid #000;
    background-color: #fff;
    color: #fff;
}

.col-vacia {
    background-color: #6b9488;
}

.col-vacia:hover {
    background-color: #78ff70;
    cursor: pointer;
}

/* ==========================
   Dropdown
========================== */

.btn-reserva {
    background-color: #0f0;
    padding: 7px;
    border-radius: 20px;
    width: 88%;
}

.btn-reserva:hover {
    background-color: rgb(15, 223, 105);
}

.dropdown-menu {
    width: 365px;
}

.dpdn-span {
    margin: 10px 100px;
    margin: 0;
}

.info-dd-1 {
    width: 95%;
}

.contenedor-info-dd-2 {
    width: 95%;
}

/* ==========================
   Informacion de las reservas
========================== */

#reservado {
    background-color: #e94c0e;
    width: 10px;
    height: 10px;
    margin-right: 3px;
}

#disponible {
    background-color: #6b9488;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 15px;
}